:root {
    font-size: 16px;
    font-family: 'Open Sans';

    --text-main: #b6b6b6;
    --text-side: #ececec;
    --bg-main: #23232e;
    --bg-side: #141418;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-main);
    transition: width 200ms ease;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.nav-item {
    margin-bottom: 3rem;
}

.nav-item:first-child {
    margin-top: 2rem;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 2rem;
    font-size: 2rem;
    color: var(--text-side);
    text-decoration: none;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.youtube-link {
    color: rgb(255, 0, 0);
}

.nav-link i {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}

/* @media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
} */